.episode-card {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    background-color: #1919b4;
    padding: 0.2rem;
    //   width: max-content;
  }
  .episode-info {
    border-radius: 1.4rem;
    margin-bottom: 0.15rem;
    --background: #222121;
  }
