/*Style creation for the app */
.episode-card {
    box-shadow: 5px 5px 5px rgba(238, 229, 55, 0.25);
    border-radius: 0.6rem;
    background-color: #e9dcaa;
    padding: 0.2rem;
  }
.episode-info {
    border-style: 5rem;
    margin-bottom: 0.3rem;
    --background: #f2f7f7;
  }
