<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(characters:characters)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavouriteFilm()" *ngIf="isFavourite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favouriteFilm()" *ngIf="!isFavourite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="">

  <ion-card *ngIf="character" class="movie-card">

    <!-- Get all character and place icons -->

    <ion-item class="movie-info" lines="none">
      <ion-icon name="id-card-outline"></ion-icon>
      <ion-card-header> Id: {{ character?.char_id }}</ion-card-header>
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      Name: {{ character?.name }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Birthday: {{ character?.birthday }}
    </ion-item>

    <ion-item class="movie-info" lines="none" *ngFor="let occup of character?.occupation; let i = index">
      <ion-icon name="bag-outline" slot="start"></ion-icon>
      Occupation: {{ occup }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="film-outline" slot="start"></ion-icon>
      Status: {{ character?.status }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      Nickname: {{ character?.nickname }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="tv-outline" slot="start"></ion-icon>
      Appearance: {{ character?.appearance }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="tablet-landscape-outline" slot="start"></ion-icon>
      Portrayed: {{ character?.portrayed }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <ion-icon name="attach-outline" slot="start"></ion-icon>
      Category: {{ character?.category }}
    </ion-item>

    <ion-item class="movie-info" lines="none">
      <img src="assets/download.jpg">
    </ion-item>
  </ion-card>
</ion-content>